@use '../../base/variables' as v;


.variables {
  &__contenedor {
    display:flex;
    
  }
  &__etiqueta {
    flex: 0 0 10rem;
  }
  &__color {
    flex: 0 0 10rem;
    border: solid 1px v.$negro;
    &--primario {
      background-color: v.$primario;
    }
    &--secundario {
      background-color: v.$secundario;
    }
    &--terciario {
      background-color: v.$terciario;
    }
    &--negro {
      background-color: v.$negro;
    }
    &--blanco {
      background-color: v.$blanco;
    }
    &--gris {
      background-color: v.$gris;
    }
    &--grisClaro {
      background-color: v.$grisClaro;
    }
  }
  
}